.ContactBar{
    position: relative;
    margin-top: -5px;
    width: 100%;
    background-color: #000000;
}
#ContactInfoList{
    overflow: hidden;
    list-style-type: none;
}
#ContactInfoList li{
    margin: 1%;
    float: left;
}
.li1{
    width: 29%;
    text-align: center;
}
.ContactItem{
    margin-right: auto;
    margin-left: auto;
    vertical-align: center;
    color: #FFFFFF;
}
.ContactItem a{
    color: #FFFFFF;
    transition: text-shadow 0.5s, color 0.5s;
}
.ContactItem a:hover{
    cursor: pointer;
    color: #179422;
    text-decoration: none;
    text-shadow: 0px 0px 12px #179422;
}
.vl{
    border: 0px groove;
    border-left-width: 1px;
    height: 130px;
    text-align: center;
    color: #FFFFFF;
}