h1{
    margin: 0px;
}
.header{
    background-color: #000000 ;

}
.NavBar{
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: inherit;
}
#iteamList {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: inherit;
}
#iteamList li{
    float: left;
}
#iteamList li a{
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 14px 16px;
    transition: text-shadow 1s, color 1s;
}
#iteamList li a:hover{
    cursor: pointer;
    color: #179422;
    text-decoration: none;
    text-shadow: 0px 0px 7px #179422;
}