html {
    background-color: black;
}

#lol {
    background-color: lightgray;
}

#seats {
    margin-left: 36%;
    margin-right: 36%;
}

#loll {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 50px;
    width: 500px;
    border-radius: 25px;
}