<footer>
    <br>
    <div class="ContactBar">
        <ul id="ContactInfoList">
            <li class="li1">
                <div class="ContactItem">
                    <h1>Contact Us</h1>
                    <p>
                            Tel : 07709987<br/>
                        Email : QaCinema&#64;qacinema.com<br/>
                        <a>FAQ</a>
                        </p>
                </div>
            </li>
            <li><div class="vl"></div></li>
            <li class="li1">
                <div class="ContactItem">
                    <h1>Social</h1>
                    <p>
                        <a><i class="fa fa-facebook"></i> Facebook</a>
                        <br/>
                        <a><i class="fa fa-twitter"></i> Twitter</a>
                        <br/>
                        <a><i class="fa fa-instagram"></i> Instagram</a>
                        <br/>
                    </p>
                </div>
            </li>
            <li><div class="vl"></div></li>
            <li class="li1">
                <div class="ContactItem">
                    <address>
                        <h1>Address</h1>
                        <p>
                                34/3 Bernard Street<br/>
                            Edinburgh<br/>
                            EH6 6PR
                            </p>
                    </address>
                </div>
            </li>
        </ul>
    </div>
</footer>
