@import play.api.libs.json.JsValue
@import play.api.libs.json.Json
@(message: String)(response: String)

@main("Welcome to Cinema") {
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/home.css")">
    <script>
        //Onload if screen width is below certain size, hide adverts
        window.onload = function () {
            if (window.innerWidth < screen.width - 100) {
                $('#advertToRight').hide();
                $('#advertLeft').hide();
            }
            $.getJSON("https://api.themoviedb.org/3/genre/movie/list?api_key=487ca347f667dcb85f52d03ca278aded&language=en-UK",
                    function (data) {
                        $.each(data, function (key, value) {
                            value.forEach(function (e) {
                                $('#genreOptions')
                                        .append($("<option></option>")
                                                .attr("value", e.id)
                                                .text(e.name));
                            })
                        });
                    });
        };
        //If window size below certain point, hide adverts
        $(window).resize(function() {
            if (($(this).width() < screen.width-80)) {
                $('#advertToRight').hide();
                $('#advertLeft').hide();
            } else {
                $('#advertToRight').show();
                $('#advertLeft').show();
            }
        });
    </script>
} {
    <div id="advertToRight" class="row" onclick="window.location.href = /movieinfo/ + @response.split("},")(1).split("id\":")(1).split(",\"")(0)">
        <div class="col-lg-3">
            <div class="affix">
                <img src=https://image.tmdb.org/t/p/w500/@response.split("},")(1).split("poster_path\":\"")(1).split("\",\"")(0).substring(1) class="img-responsive" class="img-responsive"
                style="width: 95%;
                    height: 250px;
                    border: 2px groove white;" alt="Image">
                <div id="rightAdvertText">
                    <h3 class="cinemaNow">In cinemas<br>now!</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="advertLeft" class="row" onclick="window.location.href = /movieinfo/ + @response.split("},")(0).split("id\":")(1).split(",\"")(0)">
        <div class="col-lg-3">
            <div class="affix">
                <img src=https://image.tmdb.org/t/p/w500/@response.split("},")(0).split("poster_path\":\"")(1).split("\",\"")(0).substring(1) class="img-responsive"
                style="width: 35%;
                    height: 250px;
                    border: 2px groove white;" alt="Image">
                <div id="advertText">
                    <h3 class="cinemaNow">In cinemas<br>now!</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="everything">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
            <ol class="carousel-indicators">
            @for(i <- 0 to response.split("},").length - 3) {
                @if(i == 0) {
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                }
                @if(i > 0) {
                    <li data-target="#myCarousel" data-slide-to=@i></li>
                }
            }
            </ol>

                <!-- Wrapper for slides -->
            <div class="carousel-inner">


            @for(i <- 0 to response.split("},").length - 2) {
                @if(i == 0 && response.split("},")(i).split("backdrop_path\":")(1).split(",\"")(0).substring(1).length > 5) {
                    <div class="item active">
                        <div class="carousel-content">
                        </div>
                        <img src=https://image.tmdb.org/t/p/w500/@response.split("},")(i).split("backdrop_path\":")(1).split(",\"")(0).substring(2).dropRight(1) alt="Chicago">
                    </div>
                }
                @if(i != 0 && response.split("},")(i).split("backdrop_path\":")(1).split(",\"")(0).substring(1).length > 5) {
                    <div class="item">
                        <div class="carousel-content">
                        </div>
                        <img src=https://image.tmdb.org/t/p/w500/@response.split("},")(i).split("backdrop_path\":")(1).split(",\"")(0).substring(2).dropRight(1) alt="Chicago">
                    </div>
                }

            }

            </div>

                <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <select id="genreOptions">
            <option value="0">All</option>
        </select>

        <div id="genreChange"></div>

        @for(i <- 0 to response.split("},").length - 2) {
            @if(i == 0) {
                <div class="container">
                    <div class="row">
                    }
            @if(i % 3 == 0 && i != 0) {
            </div>
            </div><br>
                <div class="container">
                    <div  class="row">
                    }

            <div class="col-sm-4">
                <div class="panel panel-primary" style="border-color: #000000;">
                    <div class="panel-body" onclick="window.location.href = /movieinfo/ + @response.split("},")(i).split("id\":")(1).split(",\"")(0)">
                        <div class="abc">
                            <img src=https://image.tmdb.org/t/p/w500/@response.split("},")(i).split("poster_path\":\"")(1).split("\",\"")(0).substring(1) class="img-responsive" style="width: 100%" alt="Image">
                            <div class="overlay">
                                <div class="poster-text">@response.split("},")(i).split("original_title\":\"")(1).split("\",\"")(0)
                                <br/>
                                    @if(response.split("},")(i).split("overview\":\"")(1).split("\",\"")(0).length <= 50) {
                                        @response.split("},")(i).split("overview\":\"")(1).split("\",\"")(0)
                                    }
                                    @if(response.split("},")(i).split("overview\":\"")(1).split("\",\"")(0).length > 50) {
                                        @response.split("},")(i).split("overview\":\"")(1).split("\",\"")(0).substring(0, 50)
                                        ...
                                    }
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            @if(i == response.split("},").length - 2) {
            </div>
            </div><br>
                }
        }

    </div>
    <script>
        $(function () {
            let json = JSON.parse(@Html(Json.stringify(Json.toJson(response))));
            console.log(json);
            let optionValue;
            $( "#genreOptions" ).change(function() {
                // let optionValue = document.getElementById("genreOptions").value;
                optionValue = $("#genreOptions").val();
                console.log(optionValue);
                if (optionValue === 0) $("#movieSection").show();
                else $("#movieSection").hide();
                creator()
            });

            function creator(){
                // $("#genreChange").append()
                for(let i =0; i < 4; i++){
                $('#genreChange').html($('<div>', {class: 'container', id:'main'+i}));
                $('#main'+i).html($('<div>', {class: 'row', id:'first'+i}));
                $('#first'+i).html($('<div>', {class: 'col-sm-4', id:'box'+i}));
                $('#box'+i).html($('<div>', {class: 'panel panel-primary', id:'panel'+i}));
                // $('#panel'+i).css($('border-color',"#000000"));
                $('#panel'+i).html($('<div>', {class: 'panel-body', id:'panelB'+i, onclick:"window.location.href = /"}));
                // $('#panelB'+i).click(function () {
                    // window.location.href = "/"
                    // });
                $('#panelB'+i).html($('<div>', {class: 'abc', id:'abcd'+i}));
                $('#abcd'+i).html($('<img>', {id: 'img'+i}));
                $("#img"+i).attr("src", "https://image.tmdb.org/t/p/w500/"+json.result[i].poster_path)
                $('#abcd'+i).html($('<div>', {class: 'overlay', id:'overlay'+i}));
                $('#overlay'+i).html($('<div>', {class: 'poster-text', id:'posterText'+i}));
                $('#posterText'+i).html($('<p>', {id: 'text'+i}));
                $("#text"+1).html("khaskddbsk");
                $('#posterText'+i).html($('<p>', 'poster-overview'));
                // $("#genreChange").html('<br>')
                }
            }
        })
    </script>
}
