@(message: String)

@main("Welcome to Play") {
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Search Box</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/map.css")">

}{
    <br> <br> <br> <br>
    <div id="everything">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    <script>
            // This example adds a search box to a map, using the Google Place Autocomplete
            // feature. People can enter geographical searches. The search box will return a
            // pick list containing a mix of places and predicted search terms.

            // This example requires the Places library. Include the libraries=places
            // parameter when you first load the API. For example:
            // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

            function initAutocomplete() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 52.355518, lng: -1.174320},
                    zoom: 7,
                    mapTypeId: 'roadmap'
                });

                // Create the search box and link it to the UI element.
                var input = document.getElementById('pac-input');
                var searchBox = new google.maps.places.SearchBox(input);
                map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                // Bias the SearchBox results towards current map's viewport.
                map.addListener('bounds_changed', function() {
                    searchBox.setBounds(map.getBounds());
                });



                var infowindows = [
                    new google.maps.InfoWindow({
                        content: '<div id="content">'+
                                '<div id="siteNotice">'+
                                '</div>'+
                                '<h1 id="firstHeading" class="firstHeading">??? Cinemas - Manchester</h1>'+
                                '<div id="bodyContent">'+
                                '<p>123 Fake Street</p>'+
                                '<p>Manchester</p>'+
                                '<p>M1 7HA</p>'+
                                '</div>'+
                                '</div>'
                    }),
                    new google.maps.InfoWindow({
                        content: '<div id="content">'+
                                '<div id="siteNotice">'+
                                '</div>'+
                                '<h1 id="firstHeading" class="firstHeading">??? Cinemas - Leeds</h1>'+
                                '<div id="bodyContent">'+
                                '<p>48 Fraud Lane</p>'+
                                '<p>Leeds</p>'+
                                '<p>LS1 3DS</p>'+
                                '</div>'+
                                '</div>'
                    }),

                    new google.maps.InfoWindow({
                        content: '<div id="content">' +
                                '<div id="siteNotice">' +
                                '</div>' +
                                '<h1 id="firstHeading" class="firstHeading">??? Cinemas - London</h1>' +
                                '<div id="bodyContent">' +
                                '<p>3 Street Drive</p>' +
                                '<p>London</p>' +
                                '<p>WC2N 3AS</p>' +
                                '</div>' +
                                '</div>'
                    }),

                    new google.maps.InfoWindow({
                        content: '<div id="content">' +
                                '<div id="siteNotice">' +
                                '</div>' +
                                '<h1 id="firstHeading" class="firstHeading">??? Cinemas - Cardiff</h1>' +
                                '<div id="bodyContent">' +
                                '<p>10 Senghennydd Road</p>' +
                                '<p>Cardiff</p>' +
                                '<p>CF24 4AG</p>' +
                                '</div>' +
                                '</div>'
                    }),

                    new google.maps.InfoWindow({
                        content: '<div id="content">' +
                                '<div id="siteNotice">' +
                                '</div>' +
                                '<h1 id="firstHeading" class="firstHeading">??? Cinemas - Leicester</h1>' +
                                '<div id="bodyContent">' +
                                '<p>999 Whatever Lane</p>' +
                                '<p>Leicester</p>' +
                                '<p>LE1 7GC</p>' +
                                '</div>' +
                                '</div>'
                    })

                ]

                var markers = [
                    new google.maps.Marker({
                        position: {lat: 53.480759, lng: -2.242620},
                        map: map,
                        title: 'Hello World!'
                    }),

                    new google.maps.Marker({
                        position: {lat: 53.799690, lng: -1.549100},
                        map: map,
                        title: 'Hello World!'
                    }),

                    new google.maps.Marker({
                        position: {lat: 51.507351, lng: -0.127758},
                        map: map,
                        title: 'Hello World!'
                    }),

                    new google.maps.Marker({
                        position: {lat: 51.481583, lng: -3.179090},
                        map: map,
                        title: 'Hello World!'
                    }),

                    new google.maps.Marker({
                        position: {lat: 52.636879, lng: -1.139759},
                        map: map,
                        title: 'Hello World!'
                    })

                ]


                markers.forEach(marker =>
                        marker.addListener('click', function() {
                            infowindows[markers.indexOf(marker)].open(map, marker);
                        })
                )


                // Listen for the event fired when the user selects a prediction and retrieve
                // more details for that place.


                searchBox.addListener('places_changed', function() {

                    // markers.forEach(marker =>
                    //         println(computeDistanceBetween(searchBox.valueOf().location, marker.valueOf().location)))


                    var places = searchBox.getPlaces('store');

                    if (places.length == 0) {
                        return;
                    }

                    // Clear out the old markers.
                    // markers.forEach(function(marker) {
                    //     marker.setMap(null);
                    // });


                    // For each place, get the icon, name and location.
                    var bounds = new google.maps.LatLngBounds();
                    places.forEach(function(place) {
                        if (!place.geometry) {
                            console.log("Returned place contains no geometry");
                            return;
                        }
                        var icon = {
                            url: place.icon,
                            size: new google.maps.Size(71, 71),
                            origin: new google.maps.Point(0, 0),
                            anchor: new google.maps.Point(17, 34),
                            scaledSize: new google.maps.Size(25, 25)
                        };

                        // Create a marker for each place.
                        markers.push(new google.maps.Marker({
                            map: map,
                            icon: icon,
                            title: place.name,
                            position: place.geometry.location
                        }));

                        if (place.geometry.viewport) {
                            // Only geocodes have viewport.
                            bounds.union(place.geometry.viewport);
                        } else {
                            bounds.extend(place.geometry.location);
                        }
                    });
                    map.fitBounds(bounds);
                });
            }

    </script>




    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXZtiT0cEoT6HpO6ycpQUDQcr3hs5JnbY&libraries=places&callback=initAutocomplete"
    async defer></script>
    </div>
}

