<header class="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="NavBar">
            <ul id="iteamList">
                <li onclick="location.href = '@controllers.routes.Application.showMovies';"><a>"Logo"</a></li>
                <li onclick="location.href = '@controllers.routes.Application.showMovies';"><a>Whats On</a></li>
                <li><a>Location</a></li>
                <li><a>Upcoming</a></li>
            </ul>
        </div>
    </div>
</header>